In [1]:
import pandas as pd
import numpy as np
import math

### Question 1 ###

In [ ]:
CREATE DATABASE Q1

CREATE TABLE Q1.Quant1(
    ID int NOT NULL PRIMARY KEY,
    Name varchar(255) NOT NULL,
    Salary float(255) NOT NULL,
    Manager_id int
)

INSERT INTO Quant1
VALUES(1, 'John', 300, 3),
(2, 'Mike', 200, 3),
(3, 'Sally', 550, 4),
(4, 'Jane', 500, 7),
(5, 'Joe', 600, 7),
(6, 'Dan', 600, 3),
(7, 'Phil', 550, NULL);

In [ ]:
-- 1. Give the name of employees, whose salaries are greater than their immediate manager’s
SELECT quant1.id, quant1.Name
FROM quant1
LEFT JOIN 
	(SELECT Salary AS manager_salary, id
	FROM quant1) quant2
ON quant1.manager_id= quant2.id
WHERE quant1.Salary > quant2.manager_salary;

### Question 2 ###

In [60]:
#Python doesn't have a specific function to test whether a variable is defined, 
#since all variables are expected to have been defined before use, even if initially assigned the None object.
N = 5
try:
    print(N)
    print(b)
    print(True)
except NameError:
    print(False)

5
False

### Question 3 ###

In [61]:
def pascal(N):
    pascal = [[1], [1,1]]
    if N == 1:
        print(1)
    else:
        for i in range(1,N-1):
            ans = [1]
            for j in range(len(pascal[i])-1):
                ans.append(pascal[i][j] + pascal[i][j+1])
            ans.append(1)
            pascal.append(ans)
        for i in pascal:
            print(*i, sep = " ") 

# def pascal_triangle(N):
#     def nextline(l):
#         ans = [1]
#         for i in range(len(l)-1):
#             ans.append(l[i] + l[i+1])
#         ans.append(1)
#         #print(*ans, sep=" ")
#         return ans
#     pascal = [[1], [1,1]]
#     if N == 1:
#         print(1)
#     else:
#         for i in range(1,N-1):
#             pascal.append(nextline(pascal[i]))
#         for i in pascal:
#             print(*i,sep=" ")

In [63]:
pascal(5)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

### Question 4 ###

### Question 5 ###

In [ ]:
#How many python files
cd /g/my-python-project
git ls-files "./*.py" | wc - l

In [ ]:
#How many lines of code in total, how many lines of comment line (empty line doesn’t count)
git ls-files -z | xargs -0 wc -l

In [ ]:
#How many functions is defined in total
git grep -c "def "

In [ ]:
#total folder size

### Question 6 ###